/* Hero Section */
.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  overflow: hidden;
  padding: 8%;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/DSC_0783.jpg") no-repeat center center/cover;
  transform: scaleX(-1);
  z-index: -2;
}

.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

/* small top badge */
.badge-btn {
  background: white;
  color: #0066ff;
  border: none;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
}

/* main heading */
.hero-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
}

.hero-text {
  font-size: 1rem;
  opacity: 0.9;
  margin-top: 15px;
}

/* buttons */
.btn-primary-custom {
  background: #0066ff;
  color: white;
  border: none;
  padding: 14px 32px;
  border-radius: 50px;
  font-weight: 500;
}
/* Why section */
.why-section {
  padding: 50px 0;
}
.about-card {
  background-color: #fff;
  border: 0px solid transparent;
  border-radius: 15px;
  height: 100%;
}
.about-card-muted {
  background-color: rgba(0, 102, 255, 0.05);
}

/* FAQ Section */
.faq-section {
  background: off-white;
}
/* Accordion container */
.custom-accordion .accordion-item {
  border: none;
  border-radius: 16px;
  margin-bottom: 14px;
  background: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

/* Button styling */
.custom-accordion .accordion-button {
  background: #fff;
  border: none;
  padding: 18px 20px;
  font-weight: 600;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Remove Bootstrap default arrow */
.custom-accordion .accordion-button::after {
  display: none;
}

/* Icon container */
.icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

/* Plus / minus lines */
.icon::before,
.icon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background: #333;
  transition: 0.3s;
}

.icon {
  position: relative;
}

.icon::after {
  transform: rotate(90deg);
}

/* When expanded -> minus icon */
.accordion-button:not(.collapsed) .icon::after {
  transform: rotate(0deg);
  opacity: 0;
}

/* Rotate icon background slightly */
.accordion-button:not(.collapsed) .icon {
  background: #e7f1ff;
}

/* Body */
.accordion-body {
  padding: 18px 20px;
  color: #555;
}

/* mobile-responsiveness */

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 30px;
  }
  .hero-about-container {
    flex-direction: column-reverse;
  }
  .img-hideen {
    display: none;
  }
}
